@value appSecondaryContainerLight, appOnSecondaryContainerLight, appSurfaceLight, appOnSurfaceLight, appSurfaceVariantLight, appOnSurfaceVariantLight from '../../common/colors.css';
@value appSecondaryContainerDark, appOnSecondaryContainerDark, appSurfaceDark, appOnSurfaceDark, appSurfaceVariantDark, appOnSurfaceVariantDark from '../../common/colors.css';

.item {
  cursor: pointer;
  padding: 1rem;
  transition: 300ms ease-in;
  border-radius: 1em;
  text-align: center;
  color: appOnSurfaceVariantLight;
}

.item.active {
  background-color: appSecondaryContainerLight;
  color: appOnSecondaryContainerLight;
}

.item.inactive:hover {
  background-color: appSurfaceVariantLight;
  color: appOnSurfaceVariantLight;
}

@media (prefers-color-scheme: dark) {
  .item {
    color: appOnSurfaceVariantDark;
  }

  .item.active {
    background-color: appSecondaryContainerDark;
    color: appOnSecondaryContainerDark;
  }

  .item.inactive:hover {
    background-color: appSurfaceVariantDark;
    color: appOnSurfaceVariantDark;
  }
}
