@value mediaQuery from '../../common/sizes.css';
@value headerHeight, workDetailPadding, workDetailLinksLeftMargin, workDetailLinkRightMargin, workDetailReadmeBottomMargin from '../../common/sizes.css';

.container {
  width: 100%;
  margin-top: headerHeight;
  padding: workDetailPadding;
  overflow: hidden;
}

.header {
  display: flex;
  height: headerHeight;
  align-items: center;
}

.title {
  flex: none;
  color: var(--color-on-background);
}

.links {
  flex: auto;
  margin-left: workDetailLinksLeftMargin;
}

.link {
  flex: none;
  color: var(--color-on-background);
  margin-right: workDetailLinkRightMargin;
}

.close {
  flex: none;
  color: var(--color-on-background);
}

.readme {
  margin-bottom: workDetailReadmeBottomMargin;
}

@media screen and (max-width: mediaQuery) {
  .container {
    margin-bottom: headerHeight;
  }
}
