@value appOnPrimaryLight, appImageFilter, appImageFilter2 from '../../common/colors.css';

@value scrollMargin from '../../common/sizes.css';
@value contentSideMarginDesktop from '../../common/sizes.css';
@value contentSideMarginMobile from '../../common/sizes.css';

@value titleFontSize from '../../common/sizes.css';

.container {
  width: 100%;
  margin-top: 1.5em;
  scroll-margin: scrollMargin;
}

.card {
  background-image: linear-gradient(to bottom, appImageFilter, appImageFilter),
    url('../../../public/images/profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin: 0 contentSideMarginDesktop;
  padding: 0 4em;
  border-radius: 4em;
  color: appOnPrimaryLight;
}

.content {
  padding: 9em 0;
}

.title {
  font-size: titleFontSize;
}

.description {
  margin-top: 3em;
  font-size: 1.75rem;
}

@media screen and (max-width: 600px) {
  .card {
    margin: 0 contentSideMarginMobile;
  }
}
