@value mediaQuery from '../../common/sizes.css';
@value scrollMargin from '../../common/sizes.css';
@value contentSideMarginDesktop from '../../common/sizes.css';
@value contentSideMarginMobile from '../../common/sizes.css';
@value aboutTopMargin, aboutPadding, aboutTitleAndDescMargin, largeCardBorderRadius from '../../common/sizes.css';
@value headlineLargeFontSize, headlineMediumFontSize from '../../common/sizes.css';

@value appOnPrimaryLight, appImageFilter, appImageFilter2 from '../../common/colors.css';

.container {
  width: 100%;
  margin-top: aboutTopMargin;
  scroll-margin: scrollMargin;
}

.card {
  background-image: linear-gradient(to bottom, appImageFilter, appImageFilter),
    url('../../../public/images/profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin: 0 contentSideMarginDesktop;
  padding: aboutPadding;
  border-radius: largeCardBorderRadius;
  color: appOnPrimaryLight;
}

.content {
}

.title {
  font-size: headlineLargeFontSize;
}

.description {
  margin-top: aboutTitleAndDescMargin;
  font-size: headlineMediumFontSize;
}

@media screen and (max-width: mediaQuery) {
  .card {
    margin: 0 contentSideMarginMobile;
  }
}
