@value mediaQuery from '../../common/sizes.css';
@value scrollMargin from '../../common/sizes.css';
@value sectionSidePaddingDesktop from '../../common/sizes.css';
@value sectionSidePaddingMobile from '../../common/sizes.css';
@value aboutTopMargin, aboutPadding, aboutTitleAndDescMargin, largeCardBorderRadius from '../../common/sizes.css';
@value aboutTopMarginMobile from '../../common/sizes.css';
@value headlineLargeFontSize, headlineMediumFontSize from '../../common/sizes.css';

.container {
  width: 100%;
  margin-top: aboutTopMargin;
  scroll-margin: scrollMargin;
  background-position: right;
  padding: 0 sectionSidePaddingDesktop;
}

.card {
  background-image: linear-gradient(
      to bottom,
      var(--color-image-filter),
      var(--color-image-filter)
    ),
    url('../../../public/images/profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: aboutPadding;
  border-radius: largeCardBorderRadius;
  color: var(--color-on-primary);
}

.content {
}

.title {
  font-size: headlineLargeFontSize;
}

.description {
  margin-top: aboutTitleAndDescMargin;
  font-size: headlineMediumFontSize;
}

@media screen and (max-width: mediaQuery) {
  .container {
    margin-top: 0.5rem;
  }

  .card {
    margin: 0 contentSideMarginMobile;
  }
}
