@value appSecondaryLight, appOnSecondaryLight from '../../common/colors.css';
@value appSecondaryDark, appOnSecondaryDark from '../../common/colors.css';

.container {
  width: 100%;
  margin: 4em 0;
  text-align: center;
}

.card {
  background-color: appSecondaryLight;
  margin: 0 2.5em;
  padding: 3em 0;
  border-radius: 2em;
}

.title {
  font-size: 3.6em;
  color: appOnSecondaryLight;
}

.links {
  list-style: none;
  display: flex;
  width: 6.75em;
  height: 3em;
  margin: 2em auto 1em;
  justify-content: space-around;
}

.link {
  font-size: 1.75em;
  color: appOnSecondaryLight;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 2.5em;
    margin-bottom: 7.5em;
  }

  .card {
    margin: 0 1em;
    padding: 2em 0;
    border-radius: 2em;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: appSecondaryDark;
  }

  .title,
  .link {
    color: appOnSecondaryDark;
  }
}
