@value mediaQuery from '../../common/sizes.css';
@value sectionTopMarginDesktop, sectionSidePaddingDesktop, contactPaddingDesktop from '../../common/sizes.css';
@value sectionTopMarginMobile, sectionSidePaddingMobile, contactBottomMarginMobile, contactPaddingMobile from '../../common/sizes.css';
@value mediumCardBorderRadius from '../../common/sizes.css';
@value contactContentWidth, contactContentHeight, contactContentMargin from '../../common/sizes.css';
@value headlineLargeFontSize, displaySmallFontSize from '../../common/sizes.css';

.container {
  width: 100%;
  margin: sectionTopMarginDesktop 0;
  padding: 0 sectionSidePaddingDesktop;
  text-align: center;
}

.card {
  background-color: var(--color-secondary);
  padding: contactPaddingDesktop;
  border-radius: mediumCardBorderRadius;
}

.title {
  font-size: headlineLargeFontSize;
  color: var(--color-on-secondary);
}

.links {
  list-style: none;
  display: flex;
  width: contactContentWidth;
  height: contactContentHeight;
  margin: contactContentMargin;
  justify-content: space-around;
}

.link {
  font-size: displaySmallFontSize;
  color: var(--color-on-secondary);
}

@media screen and (max-width: mediaQuery) {
  .container {
    margin-top: sectionTopMarginMobile;
    margin-bottom: contactBottomMarginMobile;
    padding: 0 sectionSidePaddingMobile;
  }

  .card {
    padding: contactPaddingMobile;
  }
}
