@value imageInputPadding, inputOutline, inputBorderRadius from '../../common/sizes.css';
@value loadingWidth, loadingHeight, loadingBorder, loadingBorderTop from '../../common/sizes.css';
@value labelMediumFontSize from '../../common/sizes.css';

@value appPrimaryLight, appSecondaryLight, appOnSecondaryLight, appOutlineLight, appButtonHoverLight from '../../common/colors.css';
@value appPrimaryDark, appSecondaryDark, appOnSecondaryDark, appOutlineDark, appButtonHoverDark from '../../common/colors.css';

.container {
}

.input {
  display: none;
}

.button {
  font-weight: bold;
  cursor: pointer;
  border-radius: inputBorderRadius;
  padding: imageInputPadding;
  outline: appOutlineLight solid inputOutline;
  font-size: labelMediumFontSize;
  color: appPrimaryLight;
}

.button:hover {
  background-color: appButtonHoverLight;
}

.loading {
  width: loadingWidth;
  height: loadingHeight;
  border-radius: 50%;
  border: loadingBorder solid appSecondaryLight;
  border-top: loadingBorderTop solid appOnSecondaryLight;
  animation: spin 2s linear infinite;
}

@media (prefers-color-scheme: dark) {
  .button {
    outline: appOutlineDark solid inputOutline;
    color: appPrimaryDark;
  }

  .button:hover {
    background-color: appButtonHoverDark;
  }

  .loading {
    border: loadingBorder solid appSecondaryDark;
    border-top: loadingBorderTop solid appOnSecondaryDark;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
