@value mediaQuery from '../../common/sizes.css';
@value headerHeight, headerPadding, menuGap, menuPadding from '../../common/sizes.css';
@value titleLargeFontSize, titleMediumFontSize from '../../common/sizes.css';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: headerHeight;
  background-color: var(--color-bar);
  color: var(--color-on-surface);
  z-index: 1;
  padding: headerPadding;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  color: inherit;
}

.logo:hover {
  cursor: pointer;
}

.title {
  font-size: titleLargeFontSize;
}

.menu {
  list-style: none;
  display: flex;
  gap: menuGap;
}

.toggle {
  cursor: pointer;
  padding: menuPadding;
  transition: 150ms ease-in;
  text-align: center;
  width: 3rem;
  font-size: titleMediumFontSize;
  color: var(--color-on-surface-variant);
}

.toggle:hover {
  color: var(--color-primary);
}

@media screen and (max-width: mediaQuery) {
  .header {
    background-color: var(--color-background);
  }

  .header.scrolled {
    background-color: var(--color-bar);
  }

  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: headerHeight;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bar);
  }
}
