@value mediaQuery from '../../common/sizes.css';
@value headerHeight from '../../common/sizes.css';
@value titleLargeFontSize from '../../common/sizes.css';

@value appBarLight, appBackgroundLight, appPrimaryLight, appOnSurfaceLight from '../../common/colors.css';
@value appBarDark, appBackgroundDark, appPrimaryDark, appOnSurfaceDark from '../../common/colors.css';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: headerHeight;
  background-color: appBarLight;
  color: appOnSurfaceLight;
  z-index: 1;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: headerHeight;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.title {
  font-size: titleLargeFontSize;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5em;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: appBarDark;
    color: appOnSurfaceDark;
  }
}

@media screen and (max-width: mediaQuery) {
  .header {
    background-color: appBackgroundLight;
  }

  .header.scrolled {
    background-color: appBarLight;
  }

  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: headerHeight;
    justify-content: center;
    align-items: center;
    background-color: appBarLight;
  }
}

@media screen and (max-width: mediaQuery) and (prefers-color-scheme: dark) {
  .header {
    background-color: appBackgroundDark;
  }

  .header.scrolled {
    background-color: appBarDark;
  }

  .menu {
    background-color: appBarDark;
  }
}
