@value appPrimaryLight, appOnsurfaceLight, appButtonHoverLight from '../../common/colors.css';
@value appPrimaryDark, appOnsurfaceDark, appButtonHoverDark from '../../common/colors.css';

.container {
  position: relative;
  height: 100%;
  padding: 1rem;
  display: grid;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  font-weight: bold;
  gap: 0.1rem;
}

.title {
  width: 20%;
}

.repo {
  width: 60%;
}

.branch {
  width: 20%;
}

.description {
}

.thumbnail {
}
