@value formPadding from '../../common/sizes.css';
@value fieldPadding, fieldGap from '../../common/sizes.css';
@value inputPadding, inputOutline, inputBorderRadius from '../../common/sizes.css';
@value contentAndActionsMargin from '../../common/sizes.css';
@value labelMediumFontSize from '../../common/sizes.css';

@value appOutlineLight, appPrimaryLight, appErrorLight, appOnSurfaceLight from '../../common/colors.css';
@value appOutlineDark, appPrimaryDark, appErrorDark, appOnSurfaceDark from '../../common/colors.css';

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: formPadding;
}

.field {
  display: flex;
  flex-direction: column;
  font-size: labelMediumFontSize;
  font-weight: bold;
  padding: fieldPadding;
  gap: fieldGap;
}

.title {
  width: 40%;
}

.project {
  width: 100%;
}

.repo {
  display: flex;
  gap: fieldGap;
}

.url {
  width: 60%;
}

.branch {
  width: 40%;
}

.description {
  height: 60%;
}

.thumbnail {
  margin-bottom: contentAndActionsMargin;
}

.input,
.textarea {
  width: 100%;
  outline: appOutlineLight solid inputOutline;
  border-radius: inputBorderRadius;
  padding: inputPadding;
  font-size: labelMediumFontSize;
  color: appOnSurfaceLight;
}

.textarea {
  height: 100%;
}

.input:not(:placeholder-shown).invalid {
  outline-color: appErrorLight;
}

.input:focus,
.textarea:focus {
  outline-color: appPrimaryLight;
}

@media (prefers-color-scheme: dark) {
  .input,
  .textarea {
    outline-color: appOutlineDark;
    color: appOnSurfaceDark;
  }

  .input:not(:placeholder-shown).invalid {
    outline-color: appErrorDark;
  }

  .input:focus,
  .textarea:focus {
    outline-color: appPrimaryDark;
  }
}
