@value mediaQuery from '../../common/sizes.css';
@value scrollMargin from '../../common/sizes.css';
@value sectionTopMarginDesktop, sectionSidePaddingDesktop from '../../common/sizes.css';
@value sectionTopMarginMobile, sectionSidePaddingMobile from '../../common/sizes.css';
@value smallCardBorderRadius from '../../common/sizes.css';
@value chipsTopMargin, chipsPadding, chipsGap from '../../common/sizes.css';
@value worksListTopMargin, worksListPadding, worksListGap, worksCardMinHeight from '../../common/sizes.css';
@value headlineLargeFontSize from '../../common/sizes.css';

.container {
  width: 100%;
  margin-top: sectionTopMarginDesktop;
  padding: 0 sectionSidePaddingDesktop;
  scroll-margin: scrollMargin;
}

.title {
  font-size: headlineLargeFontSize;
}

.techs {
  margin-top: chipsTopMargin;
  display: flex;
  flex-wrap: wrap;
  padding: chipsPadding;
  list-style: none;
  gap: chipsGap;
}

.list {
  margin-top: worksListTopMargin;
  padding: worksListPadding;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: worksListGap;
}

.card {
  border-radius: smallCardBorderRadius;
  width: 100%;
  min-height: worksCardMinHeight;
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface-variant);
  cursor: pointer;
}

.card.form {
  cursor: initial;
}

.add {
  width: 100%;
  height: 100%;
  font-size: 10rem;
  color: var(--color-on-surface-variant);
}

@media screen and (max-width: mediaQuery) {
  .container {
    margin-top: sectionTopMarginMobile;
    padding: 0 sectionSidePaddingMobile;
  }

  .list {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
