@value mediaQuery from '../../common/sizes.css';

@value smallCardBorderRadius from '../../common/sizes.css';

@value headlineLargeFontSize from '../../common/sizes.css';

@value appOnBackgroundLight, appSurfaceVariantLight, appOnSurfaceVariantLight from '../../common/colors.css';
@value appOnBackgroundDark, appSurfaceVariantDark, appOnSurfaceVariantDark from '../../common/colors.css';

@value scrollMargin from '../../common/sizes.css';
@value sectionTopMarginDesktop, contentSideMarginDesktop from '../../common/sizes.css';
@value sectionTopMarginMobile, contentSideMarginMobile from '../../common/sizes.css';

.container {
  width: 100%;
  margin-top: sectionTopMarginDesktop;
  scroll-margin: scrollMargin;
}

.content {
  margin: 0 contentSideMarginDesktop;
}

.title {
  font-size: headlineLargeFontSize;
}

.techs {
  margin-top: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5em;
  list-style: none;
  gap: 0.5rem;
}

.list {
  margin-top: 1em;
  padding: 0.5em;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1em;
}

.card {
  border-radius: smallCardBorderRadius;
  width: 100%;
  min-height: 20rem;
  background-color: appSurfaceVariantLight;
  color: appOnSurfaceVariantLight;
  cursor: pointer;
}

.card.form {
  cursor: initial;
}

.card:not(.form):hover {
  transform: scale(1.01);
  transition-duration: 0.5s;
}

.add {
  width: 100%;
  height: 100%;
  font-size: 10rem;
  color: appOnSurfaceVariantLight;
}

@media screen and (max-width: mediaQuery) {
  .container {
    margin-top: sectionTopMarginMobile;
  }

  .content {
    margin: 0 contentSideMarginMobile;
  }

  .list {
    grid-template-columns: 1fr;
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: appSurfaceVariantDark;
    color: appOnSurfaceVariantDark;
  }

  .add {
    color: appOnSurfaceVariantDark;
  }
}
