@value chipHeight, chipPadding, chipOutline, chipBorderRadius from '../../common/sizes.css';
@value labelMediumFontSize from '../../common/sizes.css';

.chip {
  padding: chipPadding;
  outline: chipOutline solid var(--color-outline);
  color: var(--color-on-surface-variant);
  border-radius: chipBorderRadius;
  height: chipHeight;
  line-height: chipHeight;
  font-weight: bold;
  font-size: labelMediumFontSize;
}

.chip.clickable {
  cursor: pointer;
}

.chip.selected {
  background-color: var(--color-secondary-container);
  outline-style: none;
}
