@value chipHeight, chipPadding, chipOutline, chipBorderRadius from '../../common/sizes.css';
@value labelMediumFontSize from '../../common/sizes.css';

@value appOutlineLight, appSecondaryContainerLight, appOnSurfaceVariantLight from '../../common/colors.css';
@value appOutlineDark, appSecondaryContainerDark, appOnSurfaceVariantDark from '../../common/colors.css';

.chip {
  padding: chipPadding;
  outline: chipOutline solid appOutlineLight;
  color: appOnSurfaceVariantLight;
  border-radius: chipBorderRadius;
  height: chipHeight;
  line-height: chipHeight;
  font-weight: bold;
  font-size: labelMediumFontSize;
}

.chip.clickable {
  cursor: pointer;
}

.chip.selected {
  background-color: appSecondaryContainerLight;
  outline-style: none;
}

@media (prefers-color-scheme: dark) {
  .chip {
    outline-color: appOutlineDark;
    color: appOnSurfaceVariantDark;
  }

  .chip.selected {
    background-color: appSecondaryContainerDark;
  }
}
