.container {
  position: relative;
  height: 100%;
}

.thumbnail {
  width: 100%;
  border-radius: 1rem;
}

.content {
  padding: 0.25rem 1rem 1rem;
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.techs {
  margin-top: 0.25rem;
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.techs.admin {
  margin-bottom: 1.5rem;
}
