@value smallCardBorderRadius from '../../common/sizes.css';
@value headlineMediumFontSize, bodyLargeFontSize from '../../common/sizes.css';

.container {
  position: relative;
  height: 100%;
}

.thumbnail {
  width: 100%;
  border-radius: smallCardBorderRadius;
}

.content {
  padding: 0.25rem 1rem 1rem;
}

.title {
  font-size: headlineMediumFontSize;
}

.description {
  font-size: bodyLargeFontSize;
  margin-top: 0.5rem;
}

.techs {
  margin-top: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
}

.techs.admin {
  margin-bottom: 1.5rem;
}
